@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Cascadia+Code:ital,wght@0,200..700;1,200..700&family=Comic+Relief:wght@400;700&family=Playwrite+VN+Guides&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&display=swap');
@import 'leaflet/dist/leaflet.css';


body {
  font-family: "Comic Relief", system-ui;
  font-weight: 400;
}

body.dark #navbar{
  filter: invert(1);
}


body.dark #app {
  filter: invert(1) hue-rotate(180deg);
  background-color: white;
}

/* Un-invert media inside */
body.dark #app img,
body.dark #app svg,
body.dark #app video,
body.dark #app iframe {
  filter: invert(1) hue-rotate(180deg);
}